<!DOCTYPE html>
<html role="document">
  <head>
    <meta charset='utf-8'>
    <meta content='en' name='language'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width' name='viewport'>
    <style type='text/css'>
      body {
        backround: #f2f2f2;
        color: #4f4f4f;
        font-family: Georgia, Serif;
      }
      h1 {
        font-size: 2em;
      }
      .content {
        max-width: 640px;
        padding: 3em 1em;
        margin: 0 auto;
      }
      ul {
        padding: 0;
        list-style: none;
      }
      li {
        padding: .25em 0;
      }
    </style>
  </head>
  <body>
    <section class="content">
      <h1>Feature Branches</h1>
      <ul>
        {{release_list}}
      </u>
    </section>
  </body>
</html>